/.VSCodeCounter/
/build/
# Информационная база
*.dt
*.n1
# Конфигурация
*.cf
# Расширение конфигурации, исправления, обновления
*.cf[eu]

*.rar
*.zip
*Signature.bin
!/src/**/Picture/Picture.zip
/src/**/ConfigDumpInfo.xml
# Внешняя обработка
*.epf